<div class="introbox">
	<div class="introtext" [@fadeSlideDown]>
		Hello. My name is Kevin Thompson, and I'm a self-taught web developer.
	</div>
	<div class="intropic">
		<div [@fadeIn] class="kevinpic">
			<img [@fadeSlideInLeft] src="../../assets/Kevin_caricature_outline.png" width="207" height="250">
		</div>
	</div>
</div>
<div class="introbox">
	<div class="intropic">
		<div [@fadeIn] class="familypic">
			<img [@fadeSlideInRight] src="../../assets/family_caricature_outline.png" width="250" height="250">
		</div>
	</div>
	<div class="introtext" [@fadeSlideDown]>
		This is my family. My wife, Jade, and my two boys, Smaplo (2 yrs old) and Harry (3 yrs old).
	</div>
</div>
